body {
    padding: 0;
    margin: 0;
    background: gray;
    margin: 200px;
}

form {
    position: absolute;
    top: center;
    left: center;
    width: 320px;
    height: 420px;
    background: white;
}

h4 {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    list-style: none;
    text-decoration: none;
    font-size: 2rem;
    margin: 30px;
    justify-content: center;
}

input {
    width: 60px;
    height: 40px;
    font-size: 1.5rem;
}

ul {
    background: snow;
    padding: 0px;
    margin: 0px;
}

button {
    width: 215px;
    height: 34px;
}

.clear {
    padding-bottom: 35px;
    font-size: 1.5rem;
    margin: 20px 40px;
    background-color: rgb(143, 194, 48);
}

.submit {
    padding-bottom: 35px;
    font-size: 1.5rem;
    margin: 20px 40px;
    background-color: rgb(42, 238, 147);
}